<!doctype html>
<html>
<head>
  <title>
    Product with Tabs Project
  </title>
  <link href="./public/global.css" rel="stylesheet">
</head>
<body>
  
  <%= yield %>
  
</body>
<script src="./public/global.js" style="text/javascript">
</script>
</html>