<h2>
  Add a new product
</h2>

<form action="/add_product_confirm">
  <p class="center">
    Product Name - <input type="text" name="product[product_name]" placeholder="Product Name">
  </p>
  <p class="center">
    Technical Specs - <input type="text" name="product[technical_specs]" placeholder="Technical Specs">
  </p>
  <p class="center">
    General Info - <input type="text" name="product[general_info]" placeholder="General Info">
  </p>
  <p class="center">
    Where to Buy - <input type="text" name="product[where_to_buy]" placeholder="Where to Buy">
  </p>
  <p class="center">
    <input type="submit">
  </p>
</form>
